---
layout: recipeIndex
title: "The New Kitchen Cookbook"
menu: recipes
date: 2014-10-07 01:25
---
<h1>Table of Contents</h1>

<ul class="listing">
  {% for foodie in site.data.recipes %}
  <li {% if foodie.filename != "preface" and foodie.filename != "non-food" %} class="recipeListSectionLI" {% endif %} >
    {% if foodie.files != null %}
		{% if foodie.filename != "preface" and foodie.filename != "non-food" %}
		<img class="foodGPT_small" src="/recipes/images/{{ foodie.filename }}GPT.png" alt="AI generated food illustration" />
		{% endif %}
    <a class="archive_list_article_title" name="{{foodie.filename}}" href="/recipes/{{ foodie.filename }}/">{{foodie.name}}</a>
    <ul class="tag_list recipes" id="{{foodie.filename}}">
      {% for innerFoodie in foodie.files %}
			{% if innerFoodie.redirect == null and innerFoodie.hidden == null %}
      <li class="inline archive_list"><a class="tag_list_link" href="/recipes/{{ foodie.filename }}/{{ innerFoodie.filename }}">{{ innerFoodie.name }}</a></li>
			{% endif %}
      {% endfor %}
    </ul>
    {% else %}
    <a class="archive_list_article_link" href="/recipes/{{ foodie.filename }}" name="{{foodie.filename}}">{{foodie.name}}</a>
    {% endif %}
  </li>
  {% endfor %}
  <li>
    <a class="archive_list_article_link" href="/recipes/indices" name="indices">Indices</a>
		<ul class="tag_list recipes" id="indices">
			{% include recipeIndices.html %}
		</ul>
  </li>
</ul>
