.DS_Store
_drafts
_site
_recipes
_data/recipes.yaml

*~

504almanac
bio/nonfiction/*
files/plagueblog/*

games/decktet/cascades
games/decktet/aucteraden
games/decktet/magnate
games/decktet/myrmex

recipes/images

tools/hyperfic/twine/catalog/catalog.json
tools/scree/dotgraph/beta/
tools/scree/dotgraph/**/offline/*
tools/scree/paloma/beta/
tools/viz