.DS_Store
_drafts
_site
_recipes
_data/recipes.yaml

*~

504almanac
bio/nonfiction/*
files/plagueblog/*

games/decktet/cascades
games/decktet/aucteraden
games/decktet/magnate
games/decktet/myrmex

recipes/images

tools/scree/dotgraph/*/*
tools/scree/paloma/*/*
tools/scree/prepub/*/*
tools/scree/prepub/*.css
tools/scree/prepub/*.html
tools/scree/prepub/*.yaml
tools/scree/**/format.js
tools/scree/**/header.html
tools/viz