					<li class="archive_list"><a href="/recipes/indices/alphabetical.html">Alphabetical Recipe Index</a></li>
					<li class="archive_list"><a href="/recipes/indices/favorites.html">Favorite Recipes</a></li>
					<li class="archive_list"><a href="/recipes/indices/instantPot.html">Instant Pot Recipes</a></li>
					<li class="archive_list"><a href="/recipes/indices/crockpot.html">Crockpot Recipes</a></li>
					<li class="archive_list"><a href="/recipes/indices/quick.html">Quick Meals and Mains</a></li>
					<li class="archive_list"><a href="/recipes/indices/passover.html">Passover Recipes</a></li>
					<li class="archive_list"><a href="/recipes/indices/thanksgiving.html">Thanksgiving Recipes</a></li>
					<li class="archive_list"><a href="/recipes/indices/recent.html">Recent Additions</a></li>
