---
layout: layout
title: "Archives"
menu: blog
---

<h2>Blog Archives</h2>

<section>
	<p>Longer blog posts are listed first, followed by <a href="#shortp">shorter posts</a>, <a href="#newsp">news</a> about my fiction, <a href="softp">software releases</a>, and <a href="#housep">blog housekeeping posts</a>.  My old <a href="/blog/linklog.html">linkblog</a> is archived on a separate page due to length and age.  There's also an <a href="/blog/bydate.html">archive by date</a> and a listing by <a href="/blog/tags/">tags</a>.</p>
</section>

<h3 id="longp">Long posts</h3>

<h4>My longform is still pretty short.</h4>

<section class="listing">
  <ul>
    {% for post in site.posts %}
	{% if post.tags contains 'longpost' %}
	  <li>
		  <span>{{ post.date | date: "%B %e, %Y" }}</span> 
		  <a href="{{ post.url }}">{{ post.title }}</a>
		  <span class="archive_tag">
			  {% for tag in post.tags %}
			  {% if tag != 'longpost' %}
			  <a href="/{{ site.tag_dir }}/{{ tag }}">{{ tag }}</a>
			  {% endif %}
			  {% endfor %}
		  </span>
	  </li>
	{% endif %}
    {% endfor %}
  </ul>
</section>

<h3 id="shortp">Short posts</h3>

<h4>Like the long posts, just shorter.</h4>

<section class="listing">
  <ul>
    {% for post in site.posts %}
	{% if post.tags contains 'shortpost' %}
	  <li>
		  <span>{{ post.date | date: "%B %e, %Y" }}</span> 
		  <a href="{{ post.url }}">{{ post.title }}</a>
		  <span class="archive_tag">
			  {% for tag in post.tags %}
			  {% if tag != 'shortpost' %}
			  <a href="/{{ site.tag_dir }}/{{ tag }}">{{ tag }}</a>
			  {% endif %}
			  {% endfor %}
		  </span>
	  </li>
	{% endif %}
    {% endfor %}
  </ul>
</section>

<h3 id="newsp">News archives</h3>

<h4>Ephemera of my writing career.</h4>

<section class="listing">
  <ul>
    {% for post in site.posts %}
	{% if post.tags contains 'news' %}
	  <li>
		  <span>{{ post.date | date: "%B %e, %Y" }}</span> 
		  <a href="{{ post.url }}">{{ post.title }}</a>
		  <span class="archive_tag">
			  {% for tag in post.tags %}
			  {% if tag != 'news' %}
			  <a href="/{{ site.tag_dir }}/{{ tag }}">{{ tag }}</a>
			  {% endif %}
			  {% endfor %}
		  </span>
	  </li>
	{% endif %}
    {% endfor %}
  </ul>
</section>

<h3 id="softp">Software news archives</h3>

<h4>Mostly posts announcing software releases.</h4>

<section class="listing">
  <ul>
    {% for post in site.posts %}
	{% if post.tags contains 'sharedware' %}
	  <li>
		  <span>{{ post.date | date: "%B %e, %Y" }}</span> 
		  <a href="{{ post.url }}">{{ post.title }}</a>
		  <span class="archive_tag">
			  {% for tag in post.tags %}
			  {% if tag != 'sharedware' %}
			  <a href="/{{ site.tag_dir }}/{{ tag }}">{{ tag }}</a>
			  {% endif %}
			  {% endfor %}
		  </span>
	  </li>
	{% endif %}
    {% endfor %}
  </ul>
</section>

<h3 id="housep">Blogkeeping archives</h3>

<h4>Posts about the blogging software I've used and general blog housekeeping.</h4>

<section class="listing">
  <ul>
    {% for post in site.posts %}
	{% if post.tags contains 'blogkeeping' %}
	  <li>
		  <span>{{ post.date | date: "%B %e, %Y" }}</span> 
		  <a href="{{ post.url }}">{{ post.title }}</a>
		  <span class="archive_tag">
			  {% for tag in post.tags %}
			  {% if tag != 'blogkeeping' %}
			  <a href="/{{ site.tag_dir }}/{{ tag }}">{{ tag }}</a>
			  {% endif %}
			  {% endfor %}
		  </span>
	  </li>
	{% endif %}
    {% endfor %}
  </ul>
</section>
