---
layout: layout
title: "Recent Blog Posts"
menu: blog
---

  {% for post in site.posts limit: 5 %}

<article class="h-entry">
  <h2>
    <a href="{{ post.url }}" class="u-url p-name">
		{% if post.title %}
		{{ post.title }}
		{% else %}
		&sect;
		{% endif %}
		</a>
  </h2>

  <section class="byline">
    <time class="dt-published">{{ post.date | date: "%B %e, %Y" }}</time>
    {% for tag in post.tags %}
    | <a class="p-category" href="/{{ site.tag_dir }}/{{ tag }}">{{ tag }}</a>
    {% endfor %}
  </section>

	{% capture amazon %}{{ post.content | has_amazon }}{% endcapture %}
	{% if amazon == 'true' %}<section class="amazon"><em>This post includes Amazon affiliate links to the book(s) pictured.</em></section>{% endif %}

	<section class="e-content">
		{{ post.content }}
	</section>

	<a class="hidden p-author h-card" href="http://mcdemarco.net/" rel="author">M. C. DeMarco</a>
</article>

  {% capture lastlink %} 
  {{ post.previous.url }} 
  {% endcapture %} 
  {% capture lasttitle %} 
  {{ post.previous.title }} 
  {% endcapture %} 
    
  {% endfor %}

  <section class="meta">
    <section class="copy byline" style="line-height: 1.7em;">
      <img src="/images/avatar-color-cropped.png" style="height:50px; width:50px;"/>
      <a href="/bio/"><span class="fixentity">&copy;</span> 2004&ndash;{{ site.time | date: "%Y" }} M. C. DeMarco</a>
      <br />
      <a href="{{ lastlink }}" title="{{ lasttitle }}"><span class="fixentity">&ll;</span> Previous</a>
      |
      <a href="/blog/archive.html">Archives</a>
    </section>
  </section>
