<!DOCTYPE html>
<html manifest="magnate.appcache">
<head>
  <title>Magnate Roller</title>
  <meta name="mobile-web-app-capable" content="yes"/>
  <meta name="apple-mobile-web-app-capable" content="yes"/>
  <meta name="apple-mobile-web-app-title" content="Magnate Roller"/>
  <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui"/>
  <link rel="stylesheet" href="css/magnate.css"/>

	<link rel="apple-touch-icon" sizes="180x180" href="assets/apple-180.png">
	<link rel="shortcut icon" sizes="196x196" href="assets/favicon-196.png">
	<link rel="icon" type="image/png" href="assets/favicon.png">

  <script src="js/vue.js"></script>
</head>
<body>
	<h1>Magnate Roller</h1>
  <div id="app">
		<div class="wrapper">
			<p>
				<button class="mainButton" v-on:click="roll">Roll for resources</button>
			</p>
			<p>
				<span v-bind:class="roll1 ? (roll1 >= roll2 ? biggerClass : smallerClass) : ''">{{roll1}}</span>
				<span v-bind:class="roll1 ? (roll1 < roll2 ? biggerClass : smallerClass) : ''">{{roll2}}</span>
				<span v-bind:class="suit1 ? badClass : ''">{{suit1}}</span>
				<span v-bind:class="suit2 ? badClass : ''">{{suit2}}</span>
			</p>
			<p>
				<span class="bad" v-html="taxation"></span>
			</p>
			<p>
				<span>{{crown}}</span>
			</p>
		</div>
		<div class="footer">
			<p>
				<input type="checkbox" id="doubleTaxCheckbox" v-model="doubleTaxation">
				<label for="doubleTaxCheckbox">Use double taxation</label>
			</p>
		</div>
		<div class="rules">
			<div id="details">
			<h2>Rules Cheatsheet</h2>

			<p style="text-align:center;">
				<input type="checkbox" id="setupCheckbox" v-model="setup">
				<label for="setupCheckbox">Setup</label>
				&nbsp; &nbsp; &nbsp;
				<input type="checkbox" id="megaCheckbox" v-model="mega">
				<label for="megaCheckbox">Mega Magnate</label>
			</p>

			<div v-if="setup">
							<h3>Setup</h3>
							<p>{{ mega ? "Mega" : ""}} Magnate requires {{ mega ? "two decktets" : "a Decktet" }}, about {{ mega ? 20 : 12 }} suit tokens per Decktet suit, and either this Roller or at least one d10 and one d6.</p>
				
							<p><strong>Districts</strong>: Set up the Excuse and all Pawns in a line (three players: in a Y shape centered around the Excuse) between the players.  {{ mega ? "Remove the second Excuse." : "" }} These are the districts.  The goal of the game is to control the most districts (as in Schotten Totten/Battle Line) by adding the most property value to them: <em>i.e.,</em> having a higher total rank on your side.</p>
				
							<p><strong>Crowns</strong>: Deal out the Crowns evenly among the players.  Each player also takes one suit token matching each of his Crowns.</p>

							<p><strong>Courts</strong> are optional and may be removed from the deck.  There is also <a href="https://boardgamegeek.com/thread/920202/trading-court-variant">a variant</a> in which Courts are used as trading posts.</p>

							<p>Shuffle the remaining cards and deal out {{mega ? 6 : 3}} to each player.  There is no official method of choosing a start player.</p>

							<h3>Game Play</h3>

							<p>Players will develop <strong>properties</strong> (cards) by placing them in columns on their own side of the District line.  The first card must match a suit on the District (Pawn) it is placed next to; the next card in line must match a suit on the previous card, and so on.  The first card next to the Excuse is unrestricted, but subsequent cards are restricted normally.</p>

			</div>

				

				<p></p>

				<!-- h4>Resources</h4>

				<p>For the record, if you were not using the roller, you would roll 2d10 for resources.  If a 1 appeared, you would roll {{mega ? 1 : 2 }}d6 to determine the taxed suit(s).  If the greater d10 roll is a 10, all players collect their Crown resources; otherwise players collect on properties matching the greater d10 in rank.</p> -->
				</div>

				<div id="turnOrder">
				<h3>On Your Turn</h3>
				<ol type="a">
					<li><strong>Roll</strong> for resources!  Resolve taxation before distributing new resources.
						<button type="button" v-on:click="detail.roll = !detail.roll">{{detail.roll ? "-" : "+"}}</button>
						<p class="detail" v-if="detail.roll">Your Crowns, developed, and deeded properties can all generate resources.  Crowns generate one matching resource token each.  Fully-developed properties generate a resource per suit if fully developed; deeded or partly developed properties generate one resource of your choice.  Note that every player is affected (as in Catan), and only the property rolled generates resources.  (Courts cannot be rolled.)</p>
					</li>
					<li>In any order, as many times as you want (except for playing only {{mega ? "two cards" : "one card"}} per turn):
						<ul>
							<li><strong>Develop</strong> (add resource tokens to) any deed, possibly completing it.
								<button type="button" v-on:click="detail.develop = !detail.develop">{{detail.develop ? "-" : "+"}}</button>
								<p class="detail" v-if="detail.develop">You may store partial payment in resources, tax-free, on a deeded property.  When you complete a deed, remove the paid resources and turn the property sideways.</p>
								<p class="detail" v-if="detail.develop">Deeded properties cost their face value in resource tokens, but these tokens must all match the suit(s) on the card, with at least one resource token in each suit.  Pricing exceptions:	an <strong>Ace</strong> costs three resources of the matching suit, and score one point per matching suit in that district.  (The original rule was: Aces cost one resource and scored simply as rank 1.)  A <strong>Court</strong> costs 10 resources, does not generate resources like other properties, but counts as rank 10 for controlling districts.</p>
							</li>
							<li><strong>Trade</strong> three of the same resource to the bank for a single resource of your choice.</li>
							<li>Play {{mega ? "a total of two cards" : "a single card"}}.  The possible card plays are:
								<ol>
									<li><strong>Buy a deed</strong> and place it vertically in a matching district.
										<button type="button" v-on:click="detail.deed = !detail.deed">{{detail.deed ? "-" : "+"}}</button>
										<p class="detail" v-if="detail.deed">Deeds to properties can be bought at the cost of one of each suit pictured on the card.  The resources go to the bank, not on the card, and do not count towards the final cost of the property.  You cannot place another deed or property in the same district until this deed has been fully developed.</p>
									</li>
									<li><strong>Buy a property</strong> outright, and place it horizontally in a matching district.
										<button type="button" v-on:click="detail.buy = !detail.buy">{{detail.buy ? "-" : "+"}}</button>
										<p class="detail" v-if="detail.buy">Properties cost their face value in resource tokens, but these tokens must all match the suit(s) on the card, with at least one resource token in each suit.  Pricing exceptions:	an <strong>Ace</strong> costs three resources of the matching suit, and score one point per matching suit in that district.  (The original rule was: Aces cost one resource and scored simply as rank 1.)  A <strong>Court</strong> costs 10 resources, does not generate resources like other properties, but counts as rank 10 for controlling districts.</p>
									</li>
									<li><strong>Sell</strong> a property.  Place the sold property in the discard pile.
										<button type="button" v-on:click="detail.sell = !detail.sell">{{detail.sell ? "-" : "+"}}</button>
										<p class="detail" v-if="detail.sell">Properties in your hand may be sold for one resource token per suit on the card, except an <strong>Ace</strong> is sold for two of the same resource.</p>
									</li>
								</ol>
							</li>
						</ul>
					</li>
					<li><strong>Draw</strong> a replacement card.</li>
				</ol>

				<h3>Game End</h3>
				<p>Reshuffle the discards once; the second time the draw pile runs out, players get one more turn each.
					<button type="button" v-on:click="detail.end = !detail.end">{{detail.end ? "-" : "+"}}</button>
				</p>
				<p class="detail" v-if="detail.end">At the end of the game, players discard their hands of {{mega ? 4 : 2 }} cards each, and any incomplete deeds and the resources on them.</p>
				<p class="detail" v-if="detail.end">Determine control of districts by totaling card ranks.  <strong>Courts</strong> count as 10, and <strong>Aces</strong> count as one per matching suit in the district, including its own.  If players tie on districts, the first tiebreaker is the total value of their developments, and the second tie-breaker is the most remaining resources.</p>
				</div>
		</div>
		<div class="footer">
			<h2>Credits</h2>
			<cite>The <a href="http://www.decktet.com">Decktet</a> is the creation of P.D. Magnus.</cite>
			<cite>Magnate is a two-player Decktet game by Cristyn Magnus; full rules are available at <a href="http://decktet.wikidot.com/game:magnate">the Decktet wiki</a>.</cite>
			<cite>The Mega Magnate/double taxation variant is by Greg James and is described at <a href="https://boardgamegeek.com/thread/800571/mega-magnate-double-deck-variant">BoardGameGeek</a>.</cite>
			<cite>This roller and the rules cheatsheet are by M. C. DeMarco; you may be interested in my other <a href="http://mcdemarco.net/games/decktet/">Decktet games</a>.</cite>
			<cite>The suit images shown here are from cards released under a Creative Commons License by P.D. Magnus.</cite>
			<cite>The background texture is "Skulls" by Adam, from <a href="http://subtlepatterns.com/skulls/">Subtle Patterns</a>.</cite>
		</div>
  </div>

  <script>
    var app = new Vue({
      el: '#app',
      data: {
				biggerClass: 'bigger',
				smallerClass: 'smaller',
				badClass: 'bad smaller',
				showStyle: 'display:block;',
				hideStyle: 'display:none;',
 				roll1: '',
				roll2: '',
				suit1: '',
				suit2: '',
				crown: '',
				taxation: '',
				doubleTaxation: false,
				mega: false,
				setup: false,
				detail: {buy: false, deed: false, develop: false, end: false, roll: false, sell: false},
				suits: ['moons','suns','waves','leaves','wyrms','knots']
      },
			methods: {
				getSuitName: function(idx) {return this.suits[idx-1];},
				rando: function(intr) {return Math.floor(Math.random() * intr + 1);},
				roll: function() {
					this.roll1 = this.rando(10);
					this.roll2 = this.rando(10);
					this.tax();
					this.treat();
				},
				tax: function() {
					if (this.roll1 == 1 || this.roll2 == 1) {
						this.suit1 = this.rando(6);
						if (this.doubleTaxation)
							this.suit2 = this.rando(6);
						this.taxation = 'Tax time!  Pay all but one of your ' + this.getSuitName(this.suit1) + ' <img src="css/' + this.getSuitName(this.suit1) + '.png" /> ' +
								(this.doubleTaxation && this.suit1 != this.suit2 ? ' and ' + this.getSuitName(this.suit2) +  ' <img src="css/' + this.getSuitName(this.suit2) + '.png" /> ' : '') +
								' resources.';
					} else {
						this.suit1 = '';
						this.suit2 = '';
						this.taxation = '';
					}
				},
				treat: function() {
					if (this.roll1 == 10 || this.roll2 == 10) {
						this.crown = 'Collect your three Crown resources.';
					} else {
						this.crown = 'Collect resource(s) on your properties of rank ' + Math.max(this.roll1, this.roll2) + ".";
					}
				}
			}
    })
  </script>
</body>
</html>
