/* styles for sorter and sortee, in old-skool BGG blue */

/* shared css */ 

body {
	font-family: verdana, "lucida grande", arial, sans-serif;
	padding:3%;
}

sup {
    font-size:x-small;
    padding-left:1px;
    padding-right:1px;
}

p.info {
	font-size:smaller;
}
p.info,
cite#footer {
	font-style:italic;
	color: gray;
}
cite#footer {
    text-align:right;
    display:block;
}
p.unwrap span {
    white-space: nowrap;
}
p.message {
    color: tomato;
    padding: 0.5em 1em;
    border-left: 3px double tomato;
}

div.entry {
    background-color: #F5F5FF;
    border: solid 1px #8888FF;
    margin:0.5em;
}
div.entry h2,
div.entry h3 {
    background-color: #D1DAEF;
    margin:0; 
    padding:0.5em;
}

div#header.entry {
    border: solid 1px #888888;
    background-color: #F5F5F5;
}
div#header.entry h2 {
    background-color: #D5D5D5;
    display: flex;
    flex-basis: 100%;
    justify-content: space-between;
}
div#header.entry h2 div {
    color: #888888;
    font-size: smaller;
}


div.entry h2 a,
div.entry h3 a {
    text-decoration:none;
}
div.entry div.entrycontents {
    padding: 0.5em;
    display: flex;
    flex-basis: 100%;
    justify-content: space-between;
}
div.entry div.entrycontents img {
    align-self: flex-start;
}

div.right {
    text-align:right;
    padding-left: 10px;
    color: #282867;
}

div.nowrap {
    white-space:nowrap;
}

input[type=text] {
    width: 5em;
}

/* .family and .geeklist */

.family cite.description {
    white-space: pre-wrap;
    font-size: smaller;
}

a#thingURL {
    display:inline-block;
    width:99%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* .things and collections */

.collection div#header.entry h2 div,
.plays div#header.entry h2 div,
.things div#header.entry h2 div {
    color: #888888;
    font-size: smaller;
}
.collection div.entry h3,
.hot div.entry h3,
.plays div.entry h3,
.things div.entry h3 {
    display: flex;
    flex-basis: 100%;
    justify-content: space-between;
}
.collection div.entry h3 div,
.hot div.entry h3 div,
.plays div.entry h3 div,
.things div.entry h3 div {
    color: #8888FF;
    display: inline-block;
}

.things input[type=text] {
    width: 30em;
}

.things div.right {
    min-width:20%;
}

.things a#urlHint {
    display:inline-block;
    max-width:99%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: text-bottom;
}

.things p.loading {
    color: #8888FF;
    font-style:italic;
}

.things div.description {
    font-size:smaller;
    padding: 0 1em;
}

.collection input[type=text] {
    width: 10em;
}

.collection div.status span {
    padding-left:1em;
    font-style:italic;
}

.collection p.unwrap {
    display:flex;
    flex-direction:row;
    align-items:left;
    justify-content: space-between;
    flex-wrap:wrap;
}

.collection div.description {
    white-space: pre-wrap;
}

.collection span.pluralized {
    white-space:nowrap;
}

.collection div.entrycontents,
.plays div.entrycontents {
    display: grid!important;
    grid-template-columns: 2fr 5fr 3fr 
}

.collection div.entrycontents {
    grid-template-columns: 3fr 5fr 2fr 
}

.plays div.left,
.plays div.right div {
    white-space:nowrap;
    font-style: italic;
    font-size: smaller;
}

/* I beg to diff'er */

.diff iframe {
    border: none;
    width: 49%;
    height: 25vh;
}
.diff iframe + iframe {
    border-left: 1px solid gray;
}

.diff #diff {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5px;
}

#diff ul {
    list-style: none;
}

#diff li div {
    padding-left: 0.5em;
    display: inline-block;
}

#dump ol li::marker {
    color: #ccc;
}

#dump li {
    margin: 2px;
}

#dump li div,
#dump li div h3 {
    display: inline-block;
    font-size: medium;
    font-weight: normal;
    margin: 0;
}

.dump #restrictions {
    display: grid;
    grid-template-columns: 2fr 4fr 5fr;
    grid-gap: 7px;
}
