/* styles for sorter and sortee, in old-skool BGG blue */

/* shared css */ 

body {
	font-family: verdana, "lucida grande", arial, sans-serif;
	padding:3%;
}

p.info {
	font-size:smaller;
}
p.info,
cite#footer {
	font-style:italic;
	color: gray;
}
cite#footer {
    text-align:right;
    display:block;
}
p.unwrap span {
	white-space: nowrap;
}
p.message {
	color: tomato;
	padding: 0.5em 1em;
	border-left: 3px double tomato;
}

div.entry {
	background-color: #F5F5FF;
	border: solid 1px #8888FF;
	margin:0.5em;
}
div.entry h2,
div.entry h3 {
	background-color: #D1DAEF;
	margin:0; 
	padding:0.5em;
}

div#header.entry {
    border: solid 1px #888888;
    background-color: #F5F5F5;
}
div#header.entry h2 {
    background-color: #D5D5D5;
    display: flex;
    flex-basis: 100%;
    justify-content: space-between;
}
div#header.entry h2 div {
    color: #888888;
    font-size: smaller;
}


div.entry h2 a,
div.entry h3 a {
	text-decoration:none;
}
div.entry div.entrycontents {
	padding: 0.5em;
	display: flex;
	flex-basis: 100%;
	justify-content: space-between;
}
div.entry div.entrycontents img {
	align-self: flex-start;
}

div.right {
    text-align:right;
}

input[type=text] {
    width: 5em;
}

/* .family and .geeklist */

.family cite.description {
    white-space: pre-wrap;
    font-size: smaller;
}

a#thingURL {
    display:inline-block;
    width:99%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* .things */

.collection div#header.entry h2 div,
.things div#header.entry h2 div {
    color: #888888;
    font-size: smaller;
}
.collection div.entry h3,
.things div.entry h3 {
    display: flex;
    flex-basis: 100%;
    justify-content: space-between;
}
.collection div.entry h3 div,
.things div.entry h3 div {
    color: #8888FF;
}


.things input[type=text] {
    width: 30em;
}

.things div.right {
    min-width:20%;
}

.things a#urlHint {
    display:inline-block;
    max-width:99%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.things p.loading {
    color: #8888FF;
    font-style:italic;
}

.collection input[type=text] {
    width: 10em;
}
