/* styles for sorter and sortee, in old-skool BGG blue */

body {
	font-family: verdana, "lucida grande", arial, sans-serif;
	padding:3%;
}

p.info {
	font-size:smaller;
}
p.info,
cite#footer {
	font-style:italic;
	color: gray;
}
p.unwrap span {
	white-space: nowrap;
}
p.message {
	color: tomato;
}

#geeklist div.entry {
	background-color: #F5F5FF;
	border: solid 1px #8888FF;
	margin:0.5em;
}
#geeklist div.entry h2,
#geeklist div.entry h3 {
	background-color: #D1DAEF;
	margin:0; 
	padding:0.5em;
}
#geeklist div.entry h2 a,
#geeklist div.entry h3 a {
	text-decoration:none;
}
#geeklist div.entry div.entrycontents {
	padding: 0.5em;
	display: flex;
	flex-basis: 100%;
	justify-content: space-between;
}
#geeklist div.entry div.entrycontents img {
	align-self: flex-start;
}
