/* styles for sorter and sortee, in old-skool BGG blue */

body {
	font-family: verdana, "lucida grande", arial, sans-serif;
	padding:3%;
}

p.info {
	font-size:smaller;
}
p.info,
cite#footer {
	font-style:italic;
	color: gray;
}
cite#footer {
    text-align:right;
    display:block;
}
p.unwrap span {
	white-space: nowrap;
}
p.message {
	color: tomato;
	padding: 0.5em 1em;
	border-left: 3px double tomato;
}

#things div.entry {
	background-color: #F5F5FF;
	border: solid 1px #8888FF;
	margin:0.5em;
}
#things div.entry h2,
#things div.entry h3 {
	background-color: #D1DAEF;
	margin:0; 
	padding:0.5em;
}

#things div#header.entry {
    border: solid 1px #888888;
    background-color: #F5F5F5;
}
#things div#header.entry h2 {
    background-color: #D5D5D5;
    display: flex;
    flex-basis: 100%;
    justify-content: space-between;
}
#things div#header.entry h2 div {
    color: #888888;
    font-size: smaller;
}
#things div.entry h3 {
    display: flex;
    flex-basis: 100%;
    justify-content: space-between;
}
#things div.entry h3 div {
    color: #8888FF;
}


#things div.entry h2 a,
#things div.entry h3 a {
	text-decoration:none;
}
#things div.entry div.entrycontents {
	padding: 0.5em;
	display: flex;
	flex-basis: 100%;
	justify-content: space-between;
}
#things div.entry div.entrycontents img {
	align-self: flex-start;
}

input[type=text] {
    width: 30em;
}

div.right {
    text-align:right;
    min-width:20%;
}
div.description {
    white-space: pre-wrap;
    font-size: smaller;
    padding: 1em;
}
