<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
  <meta charset="utf-8">
  <title>
    {% if page.title %}
      {{ page.title }} &ndash;
    {% endif %}
    {{ site.name }}
  </title>

  <meta name="author" content="{{ site.name }}" />
  <meta name="description" content="{{ site.description }}" />
  <meta name="viewport" content="width=device-width" />

  {% if page.description %}
  <meta name="description" content="{{page.description}}" />
  {% endif %}

  {% if page.keywords %}
  <meta name="keywords" content="{{page.keywords }}" />
  {% endif %}

  {% if page.date %}
  <meta http-equiv="date" content="{{page.date |date: '%A, %d %B %Y %H:%M:%S GMT'}}" />
  {% endif %}

  <link rel="alternate" type="application/rss+xml" href="/atom.xml" />

  <link rel="stylesheet" href="/css/base.css" type="text/css" media="screen, projection" />
  <link rel="stylesheet" href="/css/pygments.css" type="text/css" />
  <link id="mobileStyle" media="only screen and (max-device-width: 480px)" href="/css/iphone.css" type="text/css" rel="stylesheet" />
  <!--link media="only screen and (device-width: 768px)" href="/css/iphone.css" type="text/css" rel="stylesheet" /-->
  <link href='http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz' rel='stylesheet' type='text/css'>{% if page.title == "Polaroids" %}
  <link href='http://fonts.googleapis.com/css?family=Patrick+Hand+SC' rel='stylesheet' type='text/css'>
  {% endif %}
  <link rel="apple-touch-icon" href="/apple-touch-icon.png" />

</head>

<body>

<section class="content">
  <h1>{{ site.name }}:
      {% if page.supertitle %}
      <span class="booktitle">{{page.supertitle}}</span>
      {% else %}
      <span class="description">{{site.description}}</span>
      {% endif %}
  </h1>
      
  {{ content }}

</section>

  <section class="sidebar">
    <a href="/">
      <img src="/images/avatar.jpg" height="75" width="75" class="avatar" />
    </a>

    <section class="name">
      <a href="/">
        <span id="lname">{{ site.short_name }}</span>
      </a>
    </section>

    <section class="sections">
      <ul>
	<li><a href="/bio/">bio</a>
	{% if page.menu == 'bio' %}
	<ul>
	  <li><a href="/bio/biblio.html">bibliography</a></li>
	</ul>
	{% endif %}
	</li>
	<li><a href="/blog/">blog</a>
	{% if page.menu == 'blog' %}
	<ul>
	  <li><a href="/blog/archive.html">archives</a></li>
	</ul>
	{% endif %}
	</li>
	<li><a href="/conlang/" title="The Accidental Conlanger">conlang</a>
	{% if page.menu == 'conlang' %}
	<ul>
	  <li><a href="/conlang/">about</a></li>
	  <li><a href="/conlang/toc.html">contents</a></li>
	  <li><a href="/conlang/intro/">intro</a></li>
	  <li><a href="/conlang/maria/">maria</a></li>
	  <li><a href="/conlang/sapir/">sapir</a></li>
	  <li><a href="/conlang/references.html">references</a></li>
	</ul>
	{% endif %}
	</li>
	<li><a href="/gkc/" title="G. K. Chesterton">gkc</a>
	{% if page.menu == 'gkc' %}
	<ul>
	  <li><a href="/gkc/quotes/">quotes</a></li>
	  <li><a href="/gkc/books.html">works</a></li>
	  <li><a href="/gkc/distrib/" title="Distributivism">distrib</a></li>
	</ul>
	{% endif %}
	</li>
	<li><a href="/sffms/">sffms</a>
	{% if page.menu == 'sffms' %}
	<ul>
	  <li><a href="/sffms/class/" >class</a></li>
	  <li><a href="/sffms/info/" >info</a></li>
	  <li><a href="/sffms/examples/" >examples</a></li>
	  <li><a href="/sffms/sffms2rtf" >sffms2rtf</a></li>
	  <li><a href="/sffms/sffms2txt" >sffms2txt</a></li>
	</ul>
	{% endif %}
	</li>
	<li><a href="/social/" title="Social media">social</a>
	{% if page.menu == 'social' %}
	<ul>
	  <li><a href="/social/instagrams/">polaroids</a></li>
	  <li><a href="/social/adn/">posts</a></li>
	  <li><a href="/social/reads/">reads</a></li>
	  <li><a href="/social/springs/">springs</a></li>
	  <li><a href="/social/tweets/">tweets</a></li>
	</ul>
	{% endif %}
	</li>
      </ul>
    </section>

    <section class="meta">
    </section>     
    <section class="meta">
      <a href="https://github.com/{{ site.github }}" title="GitHub"><img src="/images/github.png" /></a>
      <a href="http://gplus.to/mcdemarco" title="Google+"><img src="/images/gplus.png" /></a>
      <a href="http://pinterest.com/mcdemarco/" title="Pinterest"><img src="/images/pinterest.png" /></a>
    </section>
    <section class="meta">
      <a href="https://alpha.app.net/mcdemarco/" title="app.net"><img src="/images/appnet.png" /></a>
      <a href="https://twitter.com/{{ site.twitter }}" title="Twitter"><img src="/images/twitter.png" /></a>
      <a href="https://mcdemarco.tent.is/" title="Tent"><img src="/images/tent.png" /></a>
    </section>
    <section class="meta">
      <a href="http://boardgamegeek.com/user/fiddly_bits" title="BoardGameGeek"><img src="/images/meeple.png" /></a>
      <a href="http://springpad.com/#!/mcdemarco/" title="Springpad"><img src="/images/springpad.png" /></a>
      <a href="/atom.xml" title="RSS"><img src="/images/rss.png" /></a>
    </section>

    <section class="switch">
      <a onclick="document.getElementById('iPhoneStyle').disabled = true;">View full site</a>
    </section>     


  </section>

</body>

</html>
