<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
  <meta charset="utf-8">
  <title>
    {% if page.title %}
    {{ page.title }} &ndash;
		{% elsif page.collection %}
		{{ page.collection }} &ndash;
		{% endif %}
    {{ site.name }}
  </title>

  <meta name="author" content="{{ site.name }}" />
  <meta name="viewport" content="width=device-width" />

  {% if page.description %}
  <meta name="description" content="{{page.description}}" />
  <meta name="og:description" content="{{page.description}}" />
  {% elsif page.excerpt %}
  <meta name="description" content="{{page.excerpt | strip_html}}" />
  <meta name="og:description" content="{{page.excerpt | strip_html}}" />
  <meta name="twitter:description" content="{{page.excerpt | strip_html}}" />
  {% elsif page.title %}
  <meta name="description" content="{{page.title}}" />
  <meta name="og:description" content="{{page.title}}" />
  {% elsif page.collection %}
  <meta name="description" content="{{page.collection}}" />
  <meta name="og:description" content="{{page.collection}}" />
  {% else %}
  <meta name="description" content="{{ site.description }}" />
  <meta name="og:description" content="{{ site.description }}" />
  {% endif %}

  {% if page.image %}
  <meta name="og:image" content="{{page.image}}" />
  <meta name="twitter:image" content="{{page.image}}" />
  {% else %}
  <meta name="og:image" content="/css/ant-bedelev-cropped-2.png" />
  <meta name="twitter:image" content="/css/ant-bedelev-cropped-2.png" />
  {% endif %}

  {% if page.keywords %}
  <meta name="keywords" content="{{page.keywords }}" />
  {% endif %}

  {% if page.date %}
  <meta http-equiv="date" content="{{page.date |date: '%A, %d %B %Y %H:%M:%S GMT'}}" />
  {% endif %}

  <link rel="alternate" type="application/rss+xml" href="/atom.xml" />

  <link rel="stylesheet" href="/css/base.css" type="text/css" media="screen, projection" />
  <link rel="stylesheet" href="/css/pygments.css" type="text/css" />
  <link id="mobileStyle" media="only screen and (max-device-width: 480px)" href="/css/iphone.css" type="text/css" rel="stylesheet" />
  <!--link media="only screen and (device-width: 768px)" href="/css/iphone.css" type="text/css" rel="stylesheet" /-->
  <link href='//fonts.googleapis.com/css?family=Yanone+Kaffeesatz' rel='stylesheet' type='text/css'>{% if page.title == "Polaroids" %}
  <link href='//fonts.googleapis.com/css?family=Patrick+Hand+SC' rel='stylesheet' type='text/css'>
  {% endif %}
  <link rel="apple-touch-icon" href="/apple-touch-icon.png" />

</head>

<body>

<section class="header">
  <h1>{{ site.name }}:
      {% if page.supertitle %}
      <span class="booktitle">{{page.supertitle}}</span>
      {% elsif page.collection == 'recipes' or page.menu == 'recipes' %}
      <span class="booktitle">The New Kitchen Cookbook</span>
      {% else %}
      <span class="description">{{site.description}}</span>
      {% endif %}
  </h1>
</section>

<section class="content">
      
  {{ content }}

</section>

  <section class="sidebar">
    <a href="/" class="avatar">
      <img src="/images/avatar.jpg" height="75" width="75" class="avatar" />
    </a>
    <a class="name" href="/">
      <span id="lname">{{ site.short_name }}</span>
    </a>

    <section class="sections">
      <ul id="mainMenu">
	<li><a href="/bio/">bio</a>
	{% if page.menu == 'bio' %}
	<ul>
	  <li><a href="/bio/biblio.html">bibliography</a></li>
	  <li><a href="/fiction/">fiction</a></li>
	  <li><a href="/filk/">filk</a></li>
	</ul>
	{% endif %}
	</li>
	<li><a href="/blog/">blog</a>
	{% if page.menu == 'blog' %}
	<ul>
	  <li><a href="/blog/archive.html">archives</a></li>
	  <li><a href="/blog/micro/">micro</a></li>
	  <li><a href="/blog/tags/index.html">tags</a></li>
	</ul>
	{% endif %}
	</li>
	<li><a href="/games/">games</a>
	{% if page.menu == 'games' %}
	<ul>
	  <li><a href="/games/504/">504</a></li>
	  <li><a href="/games/bgg/">bgg</a></li>
	  <li><a href="/games/decktet/">decktet</a></li>
	  <li><a href="/games/kb/" title="Kingdom Builder">kb</a></li>
	</ul>
	{% endif %}
	</li>
	<li><a href="/gkc/" title="G. K. Chesterton">gkc</a>
	{% if page.menu == 'gkc' %}
	<ul>
	  <li><a href="/gkc/quotes/">quotes</a></li>
	  <li><a href="/gkc/books.html">works</a></li>
	  <li><a href="/gkc/distrib/" title="Distributivism">distrib</a></li>
	</ul>
	{% endif %}
	</li>
	<li><a href="/stream/" title="Salmagundi">salmi</a>
	{% if page.menu == 'recipes' or page.collection == 'recipes' %}
	<ul>
	  <li><a href="/recipes/appetizers/">appetizers</a></li>
	  <li><a href="/recipes/soup/">soup</a></li>
	  <li><a href="/recipes/bread/">bread</a></li>
	  <li><a href="/recipes/quick-bread/">quick-bread</a></li>
	  <li><a href="/recipes/vegetables/">veggies</a></li>
	  <li><a href="/recipes/rice/">rice</a></li>
	  <li><a href="/recipes/pasta/">pasta</a></li>
	  <li><a href="/recipes/meat/">meat</a></li>
	  <li><a href="/recipes/poultry/">poultry</a></li>
	  <li><a href="/recipes/fish/">fish</a></li>
	  <li><a href="/recipes/sweets/">sweets</a></li>
	  <li><a href="/recipes/cookies/">cookies</a></li>
	  <li><a href="/recipes/pie/">pie!</a></li>
	</ul>
	{% elsif page.menu == 'stream' %}
	<ul>
		<li><a href="/conlang/" title="The Accidental Conlanger">conlang</a></li>
	  <li><a href="/stream/instagrams/">polaroids</a></li>
		<li><a href="/recipes/">recipes</a></li>
	  <li><a href="/stream/tweets/">tweets</a></li>
	</ul>
	{% elsif page.menu == 'conlang' %}
	<ul>
	  <li><a href="/conlang/">about</a></li>
	  <li><a href="/conlang/toc.html">contents</a></li>
	  <li><a href="/conlang/intro/">intro</a></li>
	  <li><a href="/conlang/maria/">maria</a></li>
	  <li><a href="/conlang/sapir/">sapir</a></li>
	  <li><a href="/conlang/references.html">references</a></li>
	</ul>
	{% endif %}

	</li>
	<li><a href="/tools/" title="Writing tools">tools</a>
	{% if page.menu == 'sffms' %}
	<ul>
	  <li><a href="/sffms/class/" >class</a></li>
	  <li><a href="/sffms/info/" >info</a></li>
	  <li><a href="/sffms/examples/" >examples</a></li>
	  <li><a href="/sffms/sffms2rtf" >sffms2rtf</a></li>
	  <li><a href="/sffms/sffms2txt" >sffms2txt</a></li>
	</ul>
	{% endif %}
	{% if page.menu == 'if' %}
	<ul>
	  <li><a href="/tools/hyperfic/">hyperfic</a></li>
		<li><a href="/tools/scree/dotgraph/">dotgraph</a></li>
		<li><a href="/tools/scree/paloma/">paloma</a></li>
		<li><a href="/tools/scree/">scree</a></li>
	  <li><a href="/tools/hyperfic/twine/">twine</a></li>
	</ul>
	{% endif %}
	{% if page.menu == 'tools' %}
	<ul>
	  <li><a href="/tools/hyperfic/">hyperfic</a></li>
	  <li><a href="/sffms/">sffms</a></li>
	  <li><a href="/tools/family-tree-generator/">trees</a></li>
	  <li><a href="/tools/twine/">twine</a></li>
	</ul>
	{% endif %}
	</li>
      </ul>
    </section>

    <section class="meta">
      <a href="http://pinterest.com/mcdemarco/" title="Pinterest"><img src="/images/pinterest.png" /></a>
      <a href="https://twitter.com/{{ site.twitter }}" title="Twitter"><img src="/images/twitter.png" /></a>
      <a href="https://github.com/{{ site.github }}" title="GitHub"><img src="/images/github.png" /></a>
      <a href="http://boardgamegeek.com/user/fiddly_bits" title="BoardGameGeek"><img src="/images/meeple.png" /></a>
      <a href="/atom.xml" title="RSS"><img src="/images/rss.png" /></a>
    </section>

    <section class="switch">
      <a onclick="document.getElementById('mobileStyle').disabled = true;">View full site</a>
    </section>     


  </section>

</body>

</html>
