---
layout: layout
---

  <h1>
    <a href="{{ page.url }}">
    {% if page.title %}
    {{ page.title }}
    {% else %}
    {{ page.date | date: "%B %e, %Y" }}
    {% endif %}
    </a>
  </h1>

  {% if page.byline %}
  <section class="byline">
	  <span style="font-style:italic;padding-right:4px;">by</span> <span>{{ page.byline }}</span>
  </section>
  {% endif %}

{{ content }}

  {% if page.checked %}
  <section class="byline" style="text-align:right;">
	    Links checked: {{ page.checked | date: "%B %e, %Y" }}
  </section>
  {% endif %}
