---
layout: layout
menu: blog
---


  <h2>
    <a href="{{ page.url }}">{{ page.title }}</a>
  </h2>

  <section class="byline">
    {{ page.date | date: "%B %e, %Y" }}
    {% for tag in page.tags %}
    | <a href="/{{ site.tag_dir }}/{{ tag }}">{{ tag }}</a>
    {% endfor %}

  </section>

  {{ content }}

  <section class="meta">
    <section class="copy byline" style="line-height: 1.7em;">
      <img src="/images/avatar-color-cropped.png" style="height:50px; width:50px;"/>
      <a href="/bio/"><span class="fixentity">&copy;</span> {{ page.date | date: "%Y" }} &nbsp; M. C. DeMarco</a>
      <br />
      {% if page.previous %}
      <a href="{{ page.previous.url }}" title="{{ page.previous.title }}"><span class="fixentity">&ll;</span> Previous</a>
      {% else %}
      <a title="This is the first post.">First</a>
      {% endif %}
      |
      {% if page.next %}
      <a href="{{ page.next.url }}" title="{{ page.next.title }}">Next <span class="fixentity">&gg;</span></a>
      {% else %}
      <a title="This is the latest post.">Latest</a>
      {% endif %}
    </section>
  </section>
