---
layout: layout
---

{{ content | replace:'.md','' | replace:'../','../../' | replace:'1/3 ','&frac13; ' | | replace:'2/3 ','&frac23; ' | replace:'1/6 ','&frac16; ' | replace:'5/6 ','&frac56; ' | replace:'1/8 ','&frac18; ' | replace:'3/8 ','&frac38; ' | replace:'5/8 ','&frac58; ' | replace:'7/8 ','&frac78; ' | replace:'<h2','</subsection><subsection><h2' | prepend:'<main><subsection>' | append:'</subsection></main>' | replace:'<subsection></subsection>','' }}

<hr>

<section id="recipeTOC">
{% capture toc %}{% include recipeContents.md %}{% endcapture %}
{{ toc | markdownify }}
</section>
