<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
  <meta charset="utf-8">
  <title>
    {% if page.title %}
      {{ page.title }} &ndash;
    {% endif %}
    {{ site.name }}
  </title>

  <meta name="author" content="{{ site.name }}" />
  <meta name="description" content="M. C. DeMarco:  speculative
  fiction, the sffms manuscript class, writing links, distributivism, and more" />
  <meta name="keywords" content="M. C. DeMarco,m. c. de marco, speculative fiction,sf,sff,sci-fi,manuscript format, sffms,gkc,g. k. chesterton,distributivism" />
  <meta name="viewport" content="width=device-width" />

  <link rel="alternate" type="application/rss+xml" href="/atom.xml" />

  <link rel="stylesheet" type="text/css" href="/css/mcd.css" />
  <link rel="apple-touch-icon" href="/apple-touch-icon.png" />

</head>

<body id="main">

  <h1>M. C. DeMarco</h1>

  <div id="top" class="nav">
    <div id="ul"><a href="/blog/" >m. c. de marco</a><p class="submen">
      <a href="/bio/" style="padding-right:0;">bio/</a><a href="/bio/biblio.html" style="padding-left:0;">bibliography</a><br />
      <a href="/blog/" >blog</a><br />
      <a href="/conlang/" >conlang</a><br />
      <a href="/gkc/" >gkc</a><br />
      <a href="/recipes/" >recipes</a><br />
      <a href="/stream/" style="padding-right:0;">stream/</a><a href="https://alpha.app.net/mcdemarco" rel='me' style="padding-left:0;" title="@mcdemarco on alpha.app.net">&alpha;</a><br />
      <a href="/tools/" style="padding-right:0;" >tools/</a><a href="/504almanac/" style="padding-left:0;" title="the 504 almanac">504</a><br />
      </p>
    </div>
  </div>

  <div class="hide h-card">
		<img class="u-photo" src="/images/mcd.png"/>
		<a rel="me" href="http://mcdemarco.net" class="p-name">M. C. DeMarco</a>
		<p class="p-note">
			Programmer and speculative fiction writer.
			Here you will find her bio and bibliography, weblog, G. K. Chesterton pages,
			and information and downloads for the sffms LaTeX manuscript class and other tools.
		</p>
	</div>

</body>

</html>
