---
layout: recipe
title: Poultry
menu: recipes
date: 2019-05-19 23:05
---
  {% for foodie in site.data.recipes %}
    {% if foodie.filename == "poultry" %}
    <h1>{{foodie.name}}</h1>
		<ul class="listing">
			<li class="recipe_chapter">
				<ul class="recipes" id="{{foodie.filename}}">
      {% for innerFoodie in foodie.files %}
					<li class="archive_list"><a href="/recipes/{{ foodie.filename }}/{{ innerFoodie.filename }}">{{ innerFoodie.name }}</a></li>
      {% endfor %}
				</ul>
			</li>
		</ul>
    {% endif %}
  {% endfor %}
